@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="#" class="link-success">Success link</a></p>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://getwallpapers.com/wallpaper/full/f/d/1/172425.jpg" class="d-block w-100" alt="Imagen1">
        </div>
        <div class="carousel-item">
            <img src="https://getwallpapers.com/wallpaper/full/f/a/4/172528.jpg" class="d-block w-100" alt="Imagen2">
        </div>
        <div class="carousel-item">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.pJ2XHzX3eKrXv9st6ZRKhQHaE8%26pid%3DApi&f=1&ipt=87a688683dd5ccf5d6a0975a671bb17bcfd7a5616cacd5f82873b7316fe65b61&ipo=images"
                class="d-block w-100" alt="Imagen3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
